@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body {
  background-color: #a9ffb73d;
}

p {
  font-family: 'Poppins', sans-serif!important;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 32em;
  margin-top: 50px;
  border-radius: 5px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}